<mat-expansion-panel [hideToggle]="true" class="event-card">
  <mat-expansion-panel-header [collapsedHeight]="'100%'" [expandedHeight]="'100%'">
    <div class="expansion-header">
      <div class="location-date mat-body"><span>{{event.location}}, {{event.date | date:'yyyy-MM-dd HH:mm'}}</span></div>
      <div class="title mat-h2">{{event.title | uppercase}}</div>
    </div>
      <!--<div class="expansion-header">-->
  </mat-expansion-panel-header>
  <div class="mat-body-2"><strong>Opis: </strong>{{event.description}}</div>
  <div class="mat-body-2 crew">
    <strong>Skład: </strong>
    <div class="section">
      <img class="icon" [src]="TRUMPET_ICON">
      <span>
        : 2
      </span>
    </div>
    <div class="section">
      <img class="icon" [src]="SAX_ICON">
      <span>
        : 2
      </span>
    </div>
  </div>
</mat-expansion-panel>
