<div class="card mat-elevation-z4">
  <div class="logo-wrapper">
    <img class="logo" [src]="logoPath">
  </div>
  <div class="form-container">
    <form>
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Enter your email address</mat-label>
          <input matInput placeholder="email" [(ngModel)]="email" name="email">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field">
          <input matInput placeholder="Enter your password" [type]="hidePass ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field">
          <input matInput placeholder="Enter your password" [type]="hidePass ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-row">
        <!--todo unmock-->
        <a routerLink="/dashboard">
          <div class="form-row">
            <button class="form-field" mat-stroked-button color="warn">REGISTER</button>
          </div>
        </a>
      </div>
    </form>
  </div>
</div>
