<div class="card mat-elevation-z4">
  <div class="logo-wrapper">
    <img class="logo" [src]="logoPath">
  </div>
  <div class="form-container">
    <form>
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Enter your email address</mat-label>
          <input matInput placeholder="email" [(ngModel)]="email" name="email">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field">
          <input matInput placeholder="Enter your password" [type]="hidePass ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-row">
        <button (click)="loginClick()" class="form-field" type="submit" mat-raised-button color="warn">LOGIN</button>
      </div>
    </form>
    <div class="forgot-pass">
      <span class="mat-body-1">Forgot password?</span>
    </div>
    <div class="form-row">
      <button (click)="registerClick()" class="form-field" mat-stroked-button color="primary">REGISTER</button>
    </div>
  </div>
</div>
