$my-theme-primary: mat-palette($mat-green);
$my-theme-accent: mat-palette($mat-deep-orange, A200);
$my-theme-warn: mat-palette($mat-red);

$agh-theme: mat-dark-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);
