@import '~@angular/material/theming';

@include mat-core();

@import 'themes/light-theme';
@import "themes/dark-theme";
@import "themes/agh-theme";

@import "app/components/home/home.component.scss-theme";

@mixin custom-components-theme($theme) {
  @include home-component-theme($theme)
}

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}

.agh-theme {
  @include angular-material-theme($agh-theme);
  @include custom-components-theme($agh-theme);
}

.no-margin {
  margin: 0;
}
